# Environment
ENVIRONMENT=local

# Database Configuration (Local)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=daily_health

# Database Configuration (Production - Vercel Neon)
DATABASE_URL=postgresql://neondb_owner:npg_p7WslP1tNvIj@ep-shiny-star-at1glgb2-pooler.c-9.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Database Configuration Flags
DB_LOGGING=true
DB_SYNCHRONIZE=false

# Vercel Blob Storage Configuration
BLOB_STORE_ID=store_8PxCY9orb0WdIxby
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_8PxCY9orb0WdIxby_YhfBKMrxSFEZQEgy3DqNPGuBrQyERV
